[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sanic = "*"
requests = "*"
aiohttp = "*"
aioschedule = "*"
render = "*"
certifi = "*"
pandas = "*"
sanic-jinja2 = "*"
aiohttp-cache = "*"
aiohttp-client-cache = "*"
aiosqlite = "*"
mail = "*"

[dev-packages]

[requires]
python_version = "3.8"
